<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.navigation.examples.preview">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.MapboxNavigationExamples" >
      <activity
          android:name=".MainActivity"
          android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>

      <activity
          android:name=".dropinui.NavigationViewActivity"
          android:exported="true"/>

      <activity
          android:name=".dropinui.CustomRuntimeStylingActivity"
          android:exported="true"/>

      <activity
          android:name=".dropinui.CustomNavigationViewOptionsActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomSpeedLimitActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomTripProgressActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomViewInjectionActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.ToggleThemeActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomInfoPanelActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomInfoPanelAttributesActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.RequestRouteWithNavigationViewActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.RepositionSpeedLimitActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomLongClickActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.HideViewsInFreeDriveActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomInfoPanelActiveGuidanceActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.CustomActionButtonsActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.AddActionButtonsActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.PlayCustomVoiceActivity"
          android:exported="true" />

      <activity
          android:name=".dropinui.AddViewAnnotationsActivity"
          android:exported="true" />
  </application>
</manifest>