[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_disabled_rules=argument-list-wrapping,multiline-if-else,no-empty-first-line-in-method-block,spacing-between-declarations-with-annotations,spacing-between-declarations-with-comments,trailing-comma-on-declaration-site,trailing-comma-on-call-site
