<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.navigation.examples">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="LockedOrientationActivity">

    <activity android:name=".standalone.StandaloneActivity"
        android:screenOrientation="portrait"
        android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".standalone.fetchroute.FetchARouteActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.location.ShowCurrentLocationActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.routeline.RenderRouteLineActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.camera.ShowCameraTransitionsActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.tripprogress.ShowTripProgressActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.maneuvers.ShowManeuversActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.voice.PlayVoiceInstructionsActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.speedlimit.ShowSpeedLimitActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.building.ShowBuildingExtrusionsActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.turnbyturn.TurnByTurnExperienceActivity"
        android:exported="false"
        />

    <activity android:name=".standalone.waypoints.MultipleWaypointsActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.arrival.CustomArrivalActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.status.ShowStatusActivity"
        android:screenOrientation="portrait"
      android:exported="false"
        />

    <activity android:name=".standalone.status.ShowCustomStatusActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.alternative.ShowAlternativeRoutesActivity"
        android:screenOrientation="portrait"
        android:exported="false" />

    <activity android:name=".standalone.replay.ReplayHistoryActivity"
        android:screenOrientation="portrait"
        android:exported="false" />

    <activity android:name=".standalone.replay.HistoryFilesActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.preview.PreviewActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />

    <activity android:name=".standalone.custompuck.CustomPuckActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        />
  </application>

</manifest>